@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-bold.woff2") format("woff2"), url("../fonts/geometria-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-extrabold.woff2") format("woff2"), url("../fonts/geometria-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-italic.woff2") format("woff2"), url("../fonts/geometria-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-medium.woff2") format("woff2"), url("../fonts/geometria-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-regular.woff2") format("woff2"), url("../fonts/geometria-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  line-height: 1;
  font-family: "Geometria";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Geometria";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  font-weight: 500;
  color: #2B2422;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 42.5px;
}

.title {
  color: #82B428;
  font-size: 48px;
  font-weight: 800;
  line-height: 125%;
  text-transform: uppercase;
}

.title_blue {
  color: #2DA3DC;
}

.button {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  border-radius: 50px;
  background: -o-linear-gradient(55.34deg, #82B428 16.88%, #C5D210 76%);
  background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  color: #fff;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.subtitle {
  color: #82B428;
  font-size: 36px;
  font-weight: 800;
  line-height: 125%;
  text-transform: uppercase;
}

.subtitle_blue {
  color: #2DA3DC;
}

.subtitle_gray {
  color: #646865;
}

.cell {
  padding: 25px;
  overflow: hidden;
  color: #FFFFFF;
}

.cell img {
  z-index: -1;
}

.cell-body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.cell-title {
  font-weight: 500;
  line-height: 1;
  font-size: 24px;
}

.swiper {
  overflow: hidden;
  position: relative;
}

.swiper-pagination {
  text-align: center;
  z-index: 10;
  bottom: 0px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination .swiper-pagination-bullet {
  border-radius: 50%;
  background: #C4C4C4;
  display: inline-block;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #2DA3DC;
}

.fc {
  min-height: 350px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  width: 100%;
  display: block;
  padding: 15px 30px;
  color: #C4C4C4;
  line-height: 110%;
  font-weight: 400;
  border-radius: 50px;
  font-size: 26px;
  height: 62px;
  display: block;
  max-width: 700px;
}

._ibg {
  position: relative;
}

._ibg > img,
._ibg > picture > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  text-align: center;
  background: #2DA3DC;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__top {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-auto-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__top:not(:last-child) {
  margin-bottom: 25px;
}

.footer__main-logo {
  display: block;
}

.footer__main-logo > img {
  width: 221px;
  height: 71px;
}

.footer__links:not(:last-child) {
  margin-bottom: 22px;
}

.footer__links img {
  width: 46px;
  height: 46px;
}

.footer__links > a:not(:last-child) {
  margin-right: 23px;
}

.footer__number {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.9;
  color: #fff;
}

.footer__trest-logo > img {
  width: 263px;
  height: 87px;
}

.footer__info {
  font-size: 12px;
  max-width: 460px;
  margin: 0 auto;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 10px;
}

.footer__info a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__builder:not(:last-child) {
  margin-bottom: 35px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.fullscreen {
  position: relative;
  min-height: 100vh;
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullscreen > img {
  z-index: -100;
}

.fullscreen__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen__content {
  border-radius: 20px;
  position: relative;
  max-width: 390px;
}

.fullscreen__content::after {
  content: "";
  width: 664px;
  height: 664px;
  top: -105px;
  left: -142px;
  background: -o-linear-gradient(302.36deg, #FFFFFF 13.56%, #F1F1F1 85.54%);
  background: linear-gradient(147.64deg, #FFFFFF 13.56%, #F1F1F1 85.54%);
  position: absolute;
  z-index: -20;
  border-radius: 50%;
}

.fullscreen__content::before {
  content: "";
  background: -o-linear-gradient(302.36deg, #C5D210 13.56%, #82B428 85.54%);
  background: linear-gradient(147.64deg, #C5D210 13.56%, #82B428 85.54%);
  width: 268px;
  height: 268px;
  z-index: -5;
  top: -151px;
  right: -243px;
  position: absolute;
  border-radius: 50%;
}

.fullscreen__logo {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 242px;
  height: 72px;
}

.fullscreen__logo:not(:last-child) {
  margin-bottom: 34px;
}

.fullscreen__title:not(:last-child) {
  margin-bottom: 34px;
}

.fullscreen__title::after {
  content: "";
  background: -o-linear-gradient(302.36deg, #FFFFFF 13.56%, #F1F1F1 85.54%);
  background: linear-gradient(147.64deg, #FFFFFF 13.56%, #F1F1F1 85.54%);
  position: absolute;
  width: 110%;
  height: 110%;
  border-radius: 86px;
  z-index: -10;
  top: -5%;
  left: -5%;
}

.fullscreen__title::before {
  content: "";
  background: -o-linear-gradient(302.36deg, #8DCEED 13.56%, #2DA3DC 85.54%);
  background: linear-gradient(147.64deg, #8DCEED 13.56%, #2DA3DC 85.54%);
  width: 105px;
  height: 105px;
  z-index: -2;
  top: 115px;
  right: -317px;
  position: absolute;
  border-radius: 50%;
}

.fullscreen__description {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  font-size: 24px;
}

.fullscreen__description:not(:last-child) {
  margin-bottom: 21px;
}

.fullscreen__button {
  background: -o-linear-gradient(55.34deg, #BC1822 16.88%, #E53322 76%);
  background: linear-gradient(34.66deg, #BC1822 16.88%, #E53322 76%);
  font-size: 20px;
  padding-top: 11px;
  padding-right: 21px;
  padding-bottom: 13px;
  padding-left: 22px;
}

.changes {
  padding-top: 104px;
  padding-bottom: 104px;
}

.changes__body > h3:not(:last-child) {
  margin-bottom: 41px;
}

.changes__body > p {
  line-height: 120%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  font-size: 24px;
}

.changes__body > p:not(:last-child) {
  margin-bottom: 30px;
}

.changes__image img {
  border-radius: 10px;
}

.news {
  padding-bottom: 110px;
}

.news__title {
  margin-bottom: 50px;
}

.news-item {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-position: bottom;
  background-blend-mode: multiply;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news-item .news-item__hover-description {
  font-weight: 500;
  font-size: 15px;
  margin-top: 25px;
  line-height: 100%;
  opacity: 0;
}

.news-item .news-item__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.news-item .news-item__body::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  background-color: transparent;
}

.news-item__body {
  position: relative;
}

.flats__container {
  padding-bottom: 100px;
}

.flats__title {
  margin-bottom: 60px;
  max-width: 350px;
}

.flats__slider-wrapper {
  min-height: 400px;
}

.flats__slider-wrapper > div {
  margin-right: 57px;
}

.flats .swiper {
  overflow: visible;
}

.flats .swiper-wrapper {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flats .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: auto;
}

.flats__pagination .swiper-pagination-bullet {
  margin: 0 9px;
  width: 12px;
  height: 12px;
}

.flat {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #C5C5C5;
  -webkit-box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
}

.flat__content {
  padding: 25px 25px 40px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flat__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 38px;
}

.flat__preview {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.flat__plan {
  padding-bottom: 35%;
}

.flat__plan img {
  -o-object-fit: contain;
     object-fit: contain;
}

.flat__aviable {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  font-style: italic;
  color: #000000;
  display: none;
}

.flat__information {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.flat__subtitle {
  font-weight: 800;
  line-height: 125%;
  font-size: 24px;
  margin-bottom: 37px;
}

.flat__description {
  font-weight: 400;
  font-size: 17px;
  font-size: 17px;
  line-height: 135%;
  color: #686A67;
}

.flat__description:not(:last-child) {
  margin-bottom: 23px;
}

.flat__button {
  padding: 13px 22px;
  font-size: 20px;
}

.flat__characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flat__chr-item {
  padding-bottom: 15px;
  padding-right: 40px;
}

.flat__price span {
  font-weight: 400;
}

.flat__chr-name {
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
  font-size: 17px;
}

.flat__chr-subject {
  font-weight: 800;
  line-height: 130%;
  font-size: 22px;
}

.benefits__container {
  padding-bottom: 25px;
}

.benefits__slider-container {
  overflow: visible;
}

.benefits__item {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16.67%, rgba(100, 104, 101, 0)), to(#646865));
  background: -o-linear-gradient(top, rgba(100, 104, 101, 0) 16.67%, #646865 100%);
  background: linear-gradient(180deg, rgba(100, 104, 101, 0) 16.67%, #646865 100%);
  background-blend-mode: multiply;
  background-position: bottom;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.benefits__pagination .swiper-pagination-bullet {
  width: 7.73px;
  height: 7.73px;
  margin: 0 6px;
}

.benefits__pagination .swiper-pagination-bullet-active {
  width: 10.16px;
  height: 10.16px;
}

.finishing__container {
  padding-bottom: 100px;
}

.finishing__wrapper {
  -webkit-filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.12));
  min-height: 350px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 45px;
  padding-left: 60px;
}

.finishing img {
  z-index: -1;
}

.finishing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.finishing__title:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.finishing__button {
  padding: 14px 15px;
}

.details__container {
  padding-bottom: 100px;
}

.details__title {
  text-align: center;
}

.details__slider-container {
  position: relative;
  margin-bottom: 40px;
}

.details__slider-item {
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(82.52%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 82.52%);
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 82.52%);
  background-blend-mode: multiply;
  background-position: bottom;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  -o-transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.details__slider-item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}

.details .details__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details__pagination .swiper-pagination-bullet {
  width: 8.71px;
  height: 8.71px;
  margin: 0 7.5px;
}

.details__show-more {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: #C5C5C5;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.sales {
  min-height: 450px;
  padding-top: 62px;
  padding-bottom: 62px;
}

.sales > picture > img {
  z-index: -1;
}

.sales__content {
  max-width: 455px;
}

.sales__content > button {
  font-size: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 22px;
  padding-left: 22px;
}

.sales__content > button:not(:last-child) {
  margin-bottom: 46px;
}

.sales__content > p {
  color: #000000;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.sales__content > p:not(:last-child) {
  margin-bottom: 46px;
}

.sales__title:not(:last-child) {
  margin-bottom: 34px;
}

.moving {
  padding-bottom: 104px;
  padding-top: 100px;
}

.moving__title:not(:last-child) {
  margin-bottom: 41px;
}

.moving p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  font-size: 24px;
}

.wish {
  padding-top: 100px;
  padding-bottom: 70px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-blend-mode: multiply;
  min-height: 350px;
}

.wish::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 78%;
}

.wish > img {
  z-index: -2;
}

.wish__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wish__title:not(:last-child) {
  margin-bottom: 20px;
}

.wish__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  color: #FFFFFF;
}

.wish__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.wish__name:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.wish__phone-number:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.wish__button {
  padding-top: 15px;
  padding-right: 80px;
  padding-bottom: 15px;
  padding-left: 80px;
}

.wish__button:not(:first-child) {
  margin-top: 13px;
}

@media (min-width: 767.98px) {
  .cell {
    border-radius: 10px;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(280px, auto);
    gap: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .fc__img {
    margin-left: 35px;
    width: 635px;
  }

  .footer__info {
    line-height: 1;
  }

  .fullscreen__arrow {
    cursor: pointer;
    position: absolute;
    bottom: 26px;
    left: calc(50% - 17.5px);
    width: 35px;
    height: 35px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
  }

  .fullscreen__arrow::after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 6px;
    border-bottom: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
  }

  .changes__image {
    height: 391px;
    float: right;
  }

  .news__title {
    color: #2DA3DC;
  }

  .flats__slider-wrapper {
    margin-bottom: 60px;
  }

  .flat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flat__content {
    padding: 70px 50px 70px 40px;
    padding-top: 70px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-left: 40px;
  }

  .flat__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .flat__preview {
    padding-right: 35px;
  }

  .flat__plan {
    padding-bottom: 80%;
  }

  .flat__aviable {
    display: block;
  }

  .flat__description {
    color: #000000;
  }

  .flat__price {
    padding-right: 90px;
  }

  .benefits__container {
    padding-bottom: 20px;
  }

  .benefits__pagination {
    display: none;
  }

  .finishing__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 254px;
            flex: 0 0 254px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .details__title {
    padding-bottom: 44px;
  }

  .details__slider-wrapper {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: minmax(280px, auto);
    gap: 30px;
  }

  .details__slider-item {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    border-radius: 10px;
    overflow: hidden;
  }

  .details__pagination {
    display: none;
  }

  .moving__img-cnt {
    float: right;
  }

  .moving__image {
    height: 450px;
  }

  .wish::after {
    width: 60%;
    height: 100%;
    top: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(3.84%, #212121), color-stop(74.98%, rgba(12, 12, 12, 0.359375)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, #212121 3.84%, rgba(12, 12, 12, 0.359375) 74.98%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(90deg, #212121 3.84%, rgba(12, 12, 12, 0.359375) 74.98%, rgba(0, 0, 0, 0) 100%);
  }

  .wish__desctiption {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 415px;
            flex: 0 1 415px;
  }

  .wish__title {
    margin-top: -18px;
  }

  .wish__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 580px;
            flex: 0 2 580px;
    padding-left: 10px;
  }
}

@media (min-width: 767.98px) and (any-hover: hover) {
  .fullscreen__arrow:hover::after {
    top: 8px;
    left: 8px;
  }
}

@media (min-width: 991.98px) {
  .footer__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .flat__room-view {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30.5%;
            flex: 0 0 30.5%;
  }
}

@media (min-width: 1207px) {
  .footer__main-logo {
    margin-left: -35px;
  }

  .flats__slider-container {
    margin-right: -34px;
  }

  .flat__plan {
    margin-left: -40px;
  }

  .finishing__content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .details__slider-wrapper {
    -ms-grid-columns: (65px)[12];
    grid-template-columns: repeat(12, 65px);
  }

  .details__slider-item_stnd {
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  .details__slider-item_stnd.details__slider-item_middle {
    margin-left: -30px;
    margin-right: 30px;
  }

  .details__slider-item_less {
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }

  .details__slider-item_less.details__slider-item_start {
    margin-right: -30px;
  }

  .details__slider-item_less.details__slider-item_end {
    margin-left: -30px;
  }

  .details__slider-item_more {
    -ms-grid-column-span: 5;
    grid-column-end: span 5;
  }

  .details__slider-item_more.details__slider-item_start {
    margin-right: 35px;
  }

  .details__slider-item_more.details__slider-item_end {
    margin-left: 30px;
  }

  .moving__img-cnt {
    margin-right: 8px;
  }
}

@media (max-width: 1195px) {
  .title {
    font-size: calc(24px + 24 * ((100vw - 320px) / 875));
  }

  .subtitle {
    font-size: calc(24px + 12 * ((100vw - 320px) / 875));
  }

  .cell {
    padding: calc(20px + 5 * ((100vw - 320px) / 875));
  }

  .cell-title {
    font-size: calc(18px + 6 * ((100vw - 320px) / 875));
  }

  .input {
    font-size: calc(18px + 8 * ((100vw - 320px) / 875));
  }

  .input {
    height: calc(52px + 10 * ((100vw - 320px) / 875));
  }

  .footer {
    padding-top: calc(34px + 16 * ((100vw - 320px) / 875));
  }

  .footer {
    padding-bottom: calc(34px + 16 * ((100vw - 320px) / 875));
  }

  .footer__top:not(:last-child) {
    margin-bottom: calc(36px + -11 * ((100vw - 320px) / 875));
  }

  .footer__main-logo > img {
    width: calc(125px + 96 * ((100vw - 320px) / 875));
  }

  .footer__main-logo > img {
    height: calc(37px + 34 * ((100vw - 320px) / 875));
  }

  .footer__links:not(:last-child) {
    margin-bottom: calc(13px + 9 * ((100vw - 320px) / 875));
  }

  .footer__links img {
    width: calc(31px + 15 * ((100vw - 320px) / 875));
  }

  .footer__links img {
    height: calc(31px + 15 * ((100vw - 320px) / 875));
  }

  .footer__links > a:not(:last-child) {
    margin-right: calc(15.6px + 7.4 * ((100vw - 320px) / 875));
  }

  .footer__number {
    font-size: calc(13px + 17 * ((100vw - 320px) / 875));
  }

  .footer__trest-logo > img {
    width: calc(125px + 138 * ((100vw - 320px) / 875));
  }

  .footer__trest-logo > img {
    height: calc(37px + 50 * ((100vw - 320px) / 875));
  }

  .footer__info {
    font-size: calc(8px + 4 * ((100vw - 320px) / 875));
  }

  .footer__builder:not(:last-child) {
    margin-bottom: calc(25px + 10 * ((100vw - 320px) / 875));
  }

  .fullscreen__content::after {
    width: calc(336px + 328 * ((100vw - 320px) / 875));
  }

  .fullscreen__content::after {
    height: calc(336px + 328 * ((100vw - 320px) / 875));
  }

  .fullscreen__content::after {
    top: calc(-58px + -47 * ((100vw - 320px) / 875));
  }

  .fullscreen__content::after {
    left: calc(-71px + -71 * ((100vw - 320px) / 875));
  }

  .fullscreen__content::before {
    width: calc(156px + 112 * ((100vw - 320px) / 875));
  }

  .fullscreen__content::before {
    height: calc(156px + 112 * ((100vw - 320px) / 875));
  }

  .fullscreen__content::before {
    top: calc(230px + -381 * ((100vw - 320px) / 875));
  }

  .fullscreen__content::before {
    right: calc(-121px + -122 * ((100vw - 320px) / 875));
  }

  .fullscreen__content {
    max-width: calc(190px + 200 * ((100vw - 320px) / 875));
  }

  .fullscreen__logo:not(:last-child) {
    margin-bottom: calc(20px + 14 * ((100vw - 320px) / 875));
  }

  .fullscreen__logo {
    width: calc(110px + 132 * ((100vw - 320px) / 875));
  }

  .fullscreen__logo {
    height: calc(33px + 39 * ((100vw - 320px) / 875));
  }

  .fullscreen__title:not(:last-child) {
    margin-bottom: calc(4px + 30 * ((100vw - 320px) / 875));
  }

  .fullscreen__title::before {
    width: calc(82px + 23 * ((100vw - 320px) / 875));
  }

  .fullscreen__title::before {
    height: calc(82px + 23 * ((100vw - 320px) / 875));
  }

  .fullscreen__title::before {
    top: calc(-167px + 282 * ((100vw - 320px) / 875));
  }

  .fullscreen__title::before {
    right: calc(40px + -357 * ((100vw - 320px) / 875));
  }

  .fullscreen__description:not(:last-child) {
    margin-bottom: calc(15px + 6 * ((100vw - 320px) / 875));
  }

  .fullscreen__description {
    font-size: calc(12px + 12 * ((100vw - 320px) / 875));
  }

  .fullscreen__button {
    font-size: calc(12px + 8 * ((100vw - 320px) / 875));
  }

  .fullscreen__button {
    padding-top: calc(10px + 1 * ((100vw - 320px) / 875));
  }

  .fullscreen__button {
    padding-right: calc(13px + 8 * ((100vw - 320px) / 875));
  }

  .fullscreen__button {
    padding-bottom: calc(10px + 3 * ((100vw - 320px) / 875));
  }

  .fullscreen__button {
    padding-left: calc(13px + 9 * ((100vw - 320px) / 875));
  }

  .changes {
    padding-top: calc(40px + 64 * ((100vw - 320px) / 875));
  }

  .changes {
    padding-bottom: calc(40px + 64 * ((100vw - 320px) / 875));
  }

  .changes__body > h3:not(:last-child) {
    margin-bottom: calc(15px + 26 * ((100vw - 320px) / 875));
  }

  .changes__body > p {
    font-size: calc(12px + 12 * ((100vw - 320px) / 875));
  }

  .changes__body > p:not(:last-child) {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 875));
  }

  .news {
    padding-bottom: calc(56px + 54 * ((100vw - 320px) / 875));
  }

  .news__title {
    margin-bottom: calc(40px + 10 * ((100vw - 320px) / 875));
  }

  .flats__container {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / 875));
  }

  .flats__title {
    margin-bottom: calc(26px + 34 * ((100vw - 320px) / 875));
  }

  .flat__top {
    margin-bottom: calc(17px + 21 * ((100vw - 320px) / 875));
  }

  .flat__subtitle {
    font-size: calc(18px + 6 * ((100vw - 320px) / 875));
  }

  .flat__subtitle {
    margin-bottom: calc(10px + 27 * ((100vw - 320px) / 875));
  }

  .flat__description {
    font-size: calc(12.5px + 4.5 * ((100vw - 320px) / 875));
  }

  .flat__description:not(:last-child) {
    margin-bottom: calc(20px + 3 * ((100vw - 320px) / 875));
  }

  .flat__button {
    font-size: calc(14.5px + 5.5 * ((100vw - 320px) / 875));
  }

  .flat__chr-name {
    font-size: calc(13px + 4 * ((100vw - 320px) / 875));
  }

  .flat__chr-subject {
    font-size: calc(17px + 5 * ((100vw - 320px) / 875));
  }

  .finishing__container {
    padding-bottom: calc(65px + 35 * ((100vw - 320px) / 875));
  }

  .finishing__wrapper {
    padding-right: calc(0px + 60 * ((100vw - 320px) / 875));
  }

  .finishing__wrapper {
    padding-bottom: calc(0px + 45 * ((100vw - 320px) / 875));
  }

  .finishing__wrapper {
    padding-left: calc(0px + 60 * ((100vw - 320px) / 875));
  }

  .details__container {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 875));
  }

  .details__slider-container {
    margin-bottom: calc(33px + 7 * ((100vw - 320px) / 875));
  }

  .sales {
    padding-top: calc(29px + 33 * ((100vw - 320px) / 875));
  }

  .sales {
    padding-bottom: calc(29px + 33 * ((100vw - 320px) / 875));
  }

  .sales__content > button:not(:last-child) {
    margin-bottom: calc(25px + 21 * ((100vw - 320px) / 875));
  }

  .sales__content > button {
    font-size: calc(18px + 2 * ((100vw - 320px) / 875));
  }

  .sales__content > button {
    padding-top: calc(8px + 3 * ((100vw - 320px) / 875));
  }

  .sales__content > button {
    padding-bottom: calc(8px + 3 * ((100vw - 320px) / 875));
  }

  .sales__content > button {
    padding-right: calc(13px + 9 * ((100vw - 320px) / 875));
  }

  .sales__content > button {
    padding-left: calc(13px + 9 * ((100vw - 320px) / 875));
  }

  .sales__content > p {
    font-size: calc(18px + 6 * ((100vw - 320px) / 875));
  }

  .sales__content > p:not(:last-child) {
    margin-bottom: calc(25px + 21 * ((100vw - 320px) / 875));
  }

  .sales__title:not(:last-child) {
    margin-bottom: calc(19px + 15 * ((100vw - 320px) / 875));
  }

  .moving {
    padding-bottom: calc(40px + 64 * ((100vw - 320px) / 875));
  }

  .moving {
    padding-top: calc(40px + 60 * ((100vw - 320px) / 875));
  }

  .moving__title:not(:last-child) {
    margin-bottom: calc(15px + 26 * ((100vw - 320px) / 875));
  }

  .moving p {
    font-size: calc(18px + 6 * ((100vw - 320px) / 875));
  }

  .wish {
    padding-top: calc(40px + 60 * ((100vw - 320px) / 875));
  }

  .wish {
    padding-bottom: calc(40px + 30 * ((100vw - 320px) / 875));
  }

  .wish__title:not(:last-child) {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 875));
  }

  .wish__text {
    font-size: calc(18px + 6 * ((100vw - 320px) / 875));
  }

  .wish__button:not(:first-child) {
    margin-top: calc(5px + 8 * ((100vw - 320px) / 875));
  }

  .wish__button {
    padding-top: calc(10px + 5 * ((100vw - 320px) / 875));
  }

  .wish__button {
    padding-right: calc(18px + 62 * ((100vw - 320px) / 875));
  }

  .wish__button {
    padding-bottom: calc(10px + 5 * ((100vw - 320px) / 875));
  }

  .wish__button {
    padding-left: calc(18px + 62 * ((100vw - 320px) / 875));
  }
}

@media (max-width: 767.98px) {
  .grid-swiper.swiper-wrapper {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .grid-swiper .swiper-slide {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    height: auto;
  }

  .fc__cnt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .fc__img {
    width: 100%;
  }

  .fullscreen__content::before {
    bottom: 0;
  }

  .fullscreen__title::before {
    bottom: 0;
  }

  .changes__body {
    margin: 0px 0px 30px 0px;
  }

  .changes__image {
    padding-bottom: 61.7%;
  }

  .news__slider-container {
    overflow: hidden;
    border-radius: 10px;
  }

  .news__slider-wrapper {
    min-height: 468px;
  }

  .news__pagination {
    padding-top: 26px;
  }

  .news__pagination .swiper-pagination-bullet {
    margin: 0 4px;
    width: 8.71px;
    height: 8.71px;
  }

  .news-item {
    border-radius: 0;
  }

  .flats__slider-container {
    margin: 0 -3px;
  }

  .flats__pagination {
    display: none;
  }

  .flat__top {
    padding-bottom: 17px;
  }

  .flat__top::after {
    content: "";
    position: absolute;
    width: 86%;
    height: 1px;
    background-color: #000000;
    bottom: 0;
    right: 7%;
  }

  .flat__preview {
    margin-bottom: 25px;
  }

  .flat__plan {
    min-height: 190px;
  }

  .flat__information {
    text-align: center;
  }

  .benefits__slider-container {
    padding-bottom: 30px;
    margin: 0 -13px;
  }

  .benefits__slider-wrapper {
    min-height: 618px;
  }

  .benefits__item {
    margin-right: 29.5px;
    padding: 50px 29px;
    border-radius: 20px;
  }

  .benefits__item-body {
    text-align: center;
  }

  .benefits__item-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 97.8%;
    color: #FFFFFF;
  }

  .finishing__wrapper {
    min-height: 613px;
    border-radius: 20px;
    padding: 60px 20px 20px 20px;
    margin: 0 -13px;
  }

  .finishing__content {
    text-align: center;
  }

  .details__title {
    display: none;
  }

  .details__slider-container {
    margin: 0 -42.5px;
  }

  .details__slider-next {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    top: calc(50% - 10px);
    border-top: 3px solid #BFBFBF;
    border-right: 3px solid #BFBFBF;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .details__slider-wrapper {
    min-height: 617px;
  }

  .details__slider-item {
    background-blend-mode: overlay;
    padding: 80px 42.5px;
  }

  .details__slider-item-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 97.8%;
    text-align: center;
  }

  .details__show-more {
    display: none;
  }

  .sales {
    min-height: 640px;
  }

  .sales__content {
    margin: 0 -4px;
  }

  .moving__container {
    margin: -4px;
  }

  .moving__img-cnt {
    max-height: 300px;
    margin: 0 -38.5px 20px -38.5px;
    overflow: hidden;
  }

  .moving__image {
    padding: 0px 0px 67.7% 0px;
  }

  .moving__content {
    padding-bottom: 20px;
  }

  .wish::after {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(3.84%, #212121), color-stop(74.98%, rgba(12, 12, 12, 0.359375)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(bottom, #212121 3.84%, rgba(12, 12, 12, 0.359375) 74.98%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, #212121 3.84%, rgba(12, 12, 12, 0.359375) 74.98%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
  }

  .wish {
    min-height: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .wish__container {
    margin: 0 -4px;
  }

  .wish__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .wish__form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .wish__form:not(:first-child) {
    margin: 0px 0px 40px 0px;
  }
}

@media (min-width: 767.98px) and (max-width: 1195px) {
  .grid {
    gap: calc(10px + 20 * ((100vw - 320px) / 875));
  }

  .fc__img {
    margin-left: calc(0px + 35 * ((100vw - 320px) / 875));
  }

  .fc__img {
    width: calc(145px + 490 * ((100vw - 320px) / 875));
  }

  .changes__image {
    height: calc(95px + 296 * ((100vw - 320px) / 875));
  }

  .flats__slider-wrapper {
    margin-bottom: calc(0px + 60 * ((100vw - 320px) / 875));
  }

  .flat__content {
    padding-top: calc(0px + 70 * ((100vw - 320px) / 875));
  }

  .flat__content {
    padding-right: calc(0px + 50 * ((100vw - 320px) / 875));
  }

  .flat__content {
    padding-bottom: calc(0px + 70 * ((100vw - 320px) / 875));
  }

  .flat__content {
    padding-left: calc(0px + 40 * ((100vw - 320px) / 875));
  }

  .flat__price {
    padding-right: calc(40px + 50 * ((100vw - 320px) / 875));
  }

  .details__title {
    padding-bottom: calc(0px + 44 * ((100vw - 320px) / 875));
  }

  .moving__image {
    height: calc(95px + 355 * ((100vw - 320px) / 875));
  }
}

@media (min-width: 767.98px) and (max-width: 1207px) {
  .finishing__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .details__slider-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.38);
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.38);
  }

  .footer__info a:hover {
    text-decoration: underline;
  }

  .news-item:hover {
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
  }

  .news-item:hover .news-item__hover-description {
    opacity: 1;
    visibility: visible;
    font-size: 15px;
  }

  .news-item:hover .news-item__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .benefits__item:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.38);
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.38);
  }

  .details__slider-item:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.68);
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.68);
  }

  .details__show-more:hover {
    color: #a7a7a7;
  }
}

@media (any-hover: none) {
  .news-item .news-item__hover-description {
    display: none;
  }
}